body {
  font: 24px "Motorola Screentype", "DotGothic16", Futura, sans-serif;
  margin-top: 10px;
  margin-left: 5px; 
  color:white;
  background-color:black;
  text-align:left;
  overflow:hidden;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes slideIn {
  from {
    right: 100%;
  }
  to {
    right: 0;
  }
}

@keyframes slideOut {
  from {
    right: 0;
  }
  to {
    right: 100%;
  }
}

@keyframes dropOut {
  from {
    bottom: 0;
  }
  to {
    bottom: 40px;
  }
}

@keyframes dropIn {
  from {
    bottom: 40px;
  }
  to {
    bottom: 0;
  }
}

.fadeIn {
  animation-name: fadeIn;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
}

.fadeOut {
  animation-name: fadeOut;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
}

.dropOut {
  animation-name: dropOut;
  animation-duration: 1s;
  animation-timing-function: ease;
  animation-fill-mode: forwards;
}

.dropIn {
  animation-name: dropIn;
  animation-duration: 1s;
  animation-timing-function: ease;
  animation-fill-mode: forwards;
}

.slideOut {
  animation-name: slideOut;
  animation-duration: 1s;
  animation-timing-function: ease;
  animation-fill-mode: forwards;
}

.slideIn {
  animation-name: slideIn;
  animation-duration: 1s;
  animation-timing-function: ease;
  animation-fill-mode: forwards;
}

.ponyWrapper {
  position:relative;
}

.pony {
  opacity:0;
  padding-right:10px; 
  color: black;
  text-shadow: -2px -2px 0 #fff,
    0   -2px 0 #fff,
    2px -2px 0 #fff,
    2px  0   0 #fff,
    2px  2px 0 #fff,
    0    2px 0 #fff,
   -2px  2px 0 #fff,
   -2px  0   0 #fff; 
}

.alart {
  position: relative;
  top: -28px;
  right: 100%;
  padding-right:10px; 
}

.clock {
  font-variant-numeric: tabular-nums lining-nums;
}